*{margin: 0px; padding: 0px; outline: none; border: none; list-style: none;text-decoration: none;}
@media (prefers-reduced-motion: no-preference) {:root {scroll-behavior: smooth;}}
html {font-size: 16px;}
@media (max-width: 1100px) {html { font-size: 14px; }}
@media (max-width: 480px) {html { font-size: 12px; }}
h1{ font-family: 'Open Sans', sans-serif;}
h2{ font-family: 'Open Sans', sans-serif;}
h3{ font-family: 'Open Sans', sans-serif;}
h4{ font-family: 'Open Sans', sans-serif;}
h5{ font-family: 'Open Sans', sans-serif;}
h6{ font-family: 'Open Sans', sans-serif;}
