RewriteEngine On

# Statik dosyalar için doğrudan erişim sağla (css, js, img, ico, pdf vs.)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|php|json|pdf)$ - [L]

# Diğer tüm istekleri index.html'e yönlendir
RewriteRule ^(.*)$ index.html [QSA,L]

# PDF dosyası için MIME tipi
AddType application/pdf .pdf
